@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

$font-primary: 'Poppins',Arial, sans-serif;
$primary: #a3de83;


.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 100;
  font-family: $font-primary;

}
.footer-07{
  text-align: center;
  text-decoration:none;
  a {
  transition: .3s all ease;
  text-decoration:none;
  &:hover, &:focus {
    text-decoration: none !important;
    outline: none !important;
  }
}
}

.copyright{
  font-weight:300;
}

.img,
.blog-img,
.user-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 40px;
      width: 40px;
      display: block;
      background: rgba( black, .05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: white;
      }
    }
  }
}


//FORM CONTROL
.form-control {
  height: 52px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.1);
  &:focus, &:active {
    outline: none !important;
    box-shadow: none;
  }
}
textarea.form-control {
  height: inherit!important;
}

.ftco-section{
  padding: 12em 0;
  h2{
    margin-bottom: 0;
  }
}

footer{
  padding: 7em 0;
}

//FOOTER 07
.footer-07{
  background: #121212;
  a{
    color: $primary;
  }
  p{
    color: rgba(255,255,255,.3);
  }

  .footer-heading{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Poppins',Arial, sans-serif;
    .logo{
      color: white;
    }
  }
  .menu{
    margin-bottom: 30px;
    a{
      color: rgba(255,255,255,.6);
      margin: 0 10px;
      text-transform: none;
      letter-spacing: 1px;
      font-weight:200;
      font-family: $font-primary;
    }
    a:hover{
      color:white;
    }
  }
  .ftco-footer-social{
    li{
      a{
        background: transparent;
        border: 1px solid $primary;
      }
    }
  }
}
