<footer class="footer-07">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading logo">Ahmed Kucuk</h2>
        <p class="menu">
          <a href="#omeni">About</a>
          <a href="#usluge">Services</a>
          <a href="#portfolio">Portfolio</a>
          <a href="#contact">Contact</a>
        </p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="https://www.linkedin.com/in/ahmedkucuk/" data-toggle="tooltip" data-placement="top" title="Linkedin" target="_blank"><span class="icon ion-social-linkedin"></span></a></li>
          <li class="ftco-animate"><a href="https://www.instagram.com/ak.plomo/" data-toggle="tooltip" data-placement="top" title="Instagram" target="_blank"><span class="icon ion-social-instagram"></span></a></li>
          <li class="ftco-animate"><a href="https://www.facebook.com/ahmed.kucuk.37/" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><span class="icon ion-social-facebook"></span></a></li>
          <li class="ftco-animate"><a href="https://github.com/ahmedkucuk23" data-toggle="tooltip" data-placement="top" title="Github" target="_blank"><span class="icon ion-social-github"></span></a></li>
          <li class="ftco-animate"><a href="https://www.youtube.com/channel/UC74AzFBEUwfQuxpLLbpir9g" data-toggle="tooltip" data-placement="top" title="Youtube" target="_blank"><span class="icon ion-social-youtube"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 text-center">
        <p class="copyright">Ahmed Kucuk &copy; 2021 All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
