
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#omeni">About</a></li>
    <li><a href="#usluge">Services</a></li>
    <li><a href="#portfolio">Portfolio &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#web">Web Development</a></li>
        <li><a href="#video">Videography</a></li>
        <li><a href="#clients">Clients</a></li>
      </ul>
    </li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
