<div class="hero" id="omeni">
  <%= image_tag "hero2.webp", :class => "hero_img" %>
</div>

<div id="usluge">
  <div class="all">
    <div class="lefter">
      <div class="text">Hosting</div>
    </div>
    <div class="left">
      <div class="text">Web Design</div>
    </div>
    <div class="center">
      <div class="explainer"><span>Usluge</span></div>
      <div class="text">Frontend Development</div>
      </div>
    <div class="right">
      <div class="text">Backend Development</div>
    </div>
    <div class="righter">
      <div class="text">Video & Post Production</div>
    </div>
  </div>
</div>


<div id="portfolio">

</div>
