<div class="hero " id="omeni">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="box">
        <div class="title">
            <span class="block"></span>
            <h1>Ahmed Kucuk<span></span></h1>
        </div>
        <div class="role">
            <div class="block"></div>
            <p>Fullstack Developer</p>
        </div>
    </div>
  </div>
</div>

<div id="usluge">
  <div class="all">
    <div class="lefter">
      <div class="text">Hosting</div>
    </div>
    <div class="left">
      <div class="text">Web Design</div>
    </div>
    <div class="center">
      <div class="explainer"><span>Usluge</span></div>
      <div class="text">Frontend Development</div>
      </div>
    <div class="right">
      <div class="text">Backend Development</div>
    </div>
    <div class="righter">
      <div class="text">Video & Post Production</div>
    </div>
  </div>
</div>


<div id="portfolio">

</div>
