<div class="hero container">
  <div class="elemtn">
    <h1 class="heroHeader">Mladi poduzetnik. Mnogo sam zajeban momak. haj da ti uradim stranicu.</h1>
  </div>
  <div class="image_theo">
    <%= image_tag "theo.webp", :style => "width:100%;" %>
  </div>
  <div class="ahmed">
    <p >Hoces?</p>
  </div>
</div>
