// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.heroHeader{
 color:black;
 font-size: 50px;
 font-family: "Helvetica";
 text-align: center;
 padding-top: 50px;
}
.heroPara{
 color:white;
 font-size: 20px;
 font-family: "Helvetica";
 text-align:center;
}
.heroPara2{
  color:#2baab1;
 font-size: 20px;
 font-family: "Helvetica";
 text-align:center;
}
.heroImage{
  position: absolute;
  z-index: -3;
  height: 90vh;
  object-fit:cover;
}
body{
  margin: 0;
}
button{
  text-align:center;
}
.ahmed{
  text-align:center;
  font-size:50px;
}
